/**
 * /* common
 *
 * @format
 */

* {
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 700;
}
/* box-sizing은 패딩값,보더값을
요소에 포함시키는 걸 의미 */

body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  text-align: center;
  color: green;
  margin-bottom: 60px;
}

header {
  width: 100%;
  height: 60px;
  background-color: #ddd;
  padding: 0 20px;
  margin-bottom: 50px;
}

/* TODO: header1 ~ 3까지 완성해주세요! */

/* header1 */
.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 헤더의 아래 span,li자식을 가진 ul에 적용
그러면 li는 묶여있는 얘들 */
.header1 > ul {
  display: flex;
}
/*
원래는 display는 block임 위아래 
정렬하려는 박스의 부모에게 값을 줘야함
내가 움직이고 싶은 박스 li의 부모는 ul임*/
.header1 .menus li {
  margin-left: 10px;
}

/* header2 */

.header2 .menus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 300%;
  /* height: 100%; */
}
/* background-color 설정해보면 헤더1은 배경 높이 그대로
헤더2는 글자감싸는 배경이 작음.
그래서 height를 조절해주는 것 같긴한데.
line-height를 300으로 줘도 됨.*/
/* header3 */

.header3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header3 > ul {
  display: flex;
}

.header3 > ul > li {
  margin-left: 20px;
}
