/**
 * /* common
 *
 * @format
 */

* {
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;
}
/* 화면에 딱 붙게 */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  text-align: center;
  color: green;
  margin-bottom: 60px;
}

header {
  width: 100%;
  height: 60px;
  background-color: #ddd;
  padding: 0 20px;
  margin-bottom: 50px;
}

/* TODO: header1 ~ 3까지 완성해주세요! */

/* header1 */
.header1 {
  display: flex;
  align-items: center;
}

.header1 > ul {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}
/* align-items???????? */

.header1 > ul > li {
  padding-left: 20px;
}

/* header2 */
.header2 {
}
.header2 > ul {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
/* center값은 세로기준
list는 문자에대한 블록
height값을 조절해서 가운데조절할 수 있도록 */

/* header3 */
.header3 {
  display: flex;
  align-items: center;
}
/* align items으로 세로에서 가운데 */
.header3 > ul {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.header3 > ul > li {
  padding-right: 20px;
}

/**
 * /* common
 *
 * @format
 */

* {
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  text-align: center;
  color: green;
  margin-bottom: 60px;
}

header {
  width: 100%;
  height: 60px;
  background-color: #ddd;
  padding: 0 20px;
  margin-bottom: 50px;
}

/* TODO: header1 ~ 3까지 완성해주세요! */

/* header1 */
.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header1 .menus {
  display: flex;
}

.header1 .menus li {
  margin-left: 8px;
}

/* header2 */
.header2 {
}

.header2 .menus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* header3 */
.header3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header3 ul {
  display: flex;
}

.header3 ul li {
  margin: 0 8px;
}
