tr>td:first-child {
    color:red;
}
tr>td:last-child {
    color:blue;
}

[class="holiday"] {
    color:red;
}
[table] {
}

tr>td {
    text-align: center;
}

[disalbled]{
    text-align: center;
}






/* 리더님 */
body{
    background-color: lightcyan;
}
/* background는 body로, 
별로 적용할 경우 투명도 있는 색상 겹침*/

h1{
    color:green;
    text-align: center;
}

table{
    width: 100%;
}
/* height는 100프로 안 됨
왜냐, 바디 높이는 정해져있지 않음 */

table tr th {
    color: gray;
}

table tr th:first-child,
table tr td:first-child,
table tr td.holiday{
    color:red;
}
/* 중요한 건 이 부분!
모든 태그를 나열하는 방식으로 해보셈 */

table tr th:last-child,
table tr td:last-child{
    color:blue;
}
/* 콤마로 이어주면 
한번에 효과 적용 가능함 */