.stripes> * {
    background-color: navy;
    color: white;
}
.stripes>div:nth-of-type(2) {
    background-color:yellow;
    color:navy;
}
.stripes>div:nth-child(4n+2){
    background-color: yellow;
    color: navy;
}
/* nth-of-type로 일단 2선택 후,
4n+2 공식으로 6,10을 선택 
문과생은 어렵다
그냥 nth-of-type 일일이 써주는게... */

.box::before{
    content: "택시";
}
.box::after{
    content: "빨리";
}
/* 가상요소 선택자, before after
텍스트보다는 
주로 쇼핑몰 인기 태그 같은 거 */