h3:hover {
    background-color: black;
    color: white;
}

textarea:focus {
    background-color: rgb(243, 199, 205);
}

button:active {
    float: right;
    padding: 5px 15px;
    background-color: gray;
    color: #f96666;
    font-size: 17px;
    border-radius: 10px;
    border: none;
}