p.lion{
    background-color: red;
}

li#tiger{
    background-color: yellow;
}
/* #은 id선택 */

#tiger + li{
    background-color: skyblue;
}

.lion ~ li{
    background-color: orange;
}

ul .lion{
    background-color: greenyellow;
    font-weight:bold;
}
/* background color 범위 차이는
span이면 문자만
list면 한줄 전체 */

.lion{
    color:sienna
}

