.d-block {
  background-color: aquamarine;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  padding: 30px;
  margin: 20px;
}

.d-inline {
  background-color: pink;
  border: 1px solid blue;
  width: 100px;
  height: 100px;
  padding: 30px;
  margin: 20px;
}

.d-inline-block {
  display: inline-block;
  background-color: yellowgreen;
  border: 1px solid gray;
  width: 100px;
  height: 100px;
  padding: 30px;
  margin: 40px;
}
/* block, inline, inline-box 형태 확인 */

/* min, max */
.parent {
  width: 300px;
  height: 200px;
  background-color: orange;
}

.parent .min {
  min-width: 400px;
  background-color: red;
  height: 100px;
}

.parent .max {
  max-width: 400px;
  background-color: green;
  height: 100px;
}

.box {
  background-color: yellow;
  border: 1px solid black;
}

.box-px {
  width: 50px;
  height: 50px;
}

.box-view {
  width: 50vw;
  height: 50vh;
}

.box-per {
  width: 50%;
  height: 50%;
}

.rem {
  font-size: 2rem;
}
/* rem은 기본크기 16px에서 가져옴 */

.em {
  font-size: 2em;
}
*/
/* 32 64 128px em은 
부모의 크기 받아옴 
점점 커지기 때문에 주의해서 사용하기*/ */

.square img[alt='푸'] {
  width: 200px;
}

.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}
.overflow-scroll {
  overflow: scroll;
}
.overflow-visible {
  overflow: visible;
}

.overflow-hidden {
}
