body {
  height: 2000px;
  background: liner-gradient(white, orange);
}
/* 속성값 끝에 항상 세미콜론 붙여줘야 됨
그래야 오류 안 뜸*/

div {
  width: 100px;
  height: 100px;
  font-weight: 700;
  text-align: center;
  line-height: 100px;
}

.position-static {
  background-color: aqua;
  position: static;
  top: 100px;
  left: 50px;
  /* 기본값이라 position 안 써도 됨 */
  /* top, left 값 써도 의미 없음
static은 이동이 되지 않음 */
}

.position-relative {
  background-color: red;
  position: relative;
  /* 자기 자신을 기준으로 움직임 
문서 흐름을 해치지 않음
이동해도 static이랑 absolute 사이에
자기 자리를 남겨놓음*/
  left: 50px;
  bottom: 50px;
  /* 숫자 뒤에 ; 안 붙이면 적용 안 됨. */
}

.position-absolute {
  background-color: pink;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 100px;
  right: 100px;
  /*원래는 부모/조상을 기준으로 
    그러나 부모/조상이 static이 아니여야 
    기준이 없을 때는 viewport를 기준으로 이동
    문서 흐름을 해침 */
}
.position-fixed {
  background-color: yellow;
  /* 항상 viewport 기준으로 움직임 
    스크롤이 되어도 자기자리 고정*/
  position: fixed;
  left: 300px;
  top: 300px;
}

/* 실습 나 */
h3 {
  width: 500px;
  height: 500px;
  background-color: yellowgreen;
  border: 20px;
  margin: 20px;
  position: relative;
  /* 아래 absolute 적용을 위해서 
  기본설정값 static을 relative로 변경함 */
}

h3 div {
  width: 100px;
  height: 100px;
  border: 3px solid yellow;
}

.container1 {
  position: relative;
  left: 50px;
  top: 30px;
}

.container2 {
  position: absolute;
  right: 30px;
  bottom: 100px;
}
/* absolute는 부모기준이기 때문에
상위 container가 static기본값일 때는 적용이 안 됨
그럴 땐 relative로 바꾸어줘야 함. */

.container3 {
  position: fixed;
  right: 100px;
  top: 100px;
}

/* 여기서부터는 리더님 class명 container */
/* .container {
  width: 500px;
  height: 500px;
  border: 2px solid purple;
  position: relative;
  /* 기본 static이니까
    부모의 포지션을 relative로 변경해줘야 item2가 제대로 작동함 
} */

/* .container div {
  width: 100px;
  height: 100px;
  border: 2px solid red;
}

.item1 {
  position: relative;
  left: 50px;
  right: 30px;
}

.item2 {
  position: absolute;
  right: 30px;
  bottom: 100px;
}

.item3 {
  position: fixed;
  right: 100px;
  top: 100px;
} */

/* position 정말 많이 쓰지만
absolute 너무 자주 쓰면 망함
적당히 */

/* zindex 실습 */
/* .parent {
  position: relative;
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
} */
/* 설정값 이해 안 감 */
/* .circle1 {
  background-color: #9afaff;
  top: 0;
  left: 200px;
  z-index: 2;
}
.circle2 {
  background-color: #84ff8d;
  top: 0;
  left: 150px;
  z-index: 3;
}
.circle3 {
  background-color: #ffeb88;
  top: 0;
  left: 100px;
  z-index: 4;
}
.circle4 {
  background-color: #ffb680;
  top: 0;
  left: 50px;
  z-index: 3;
}
.circle5 {
  top: 0;
  left: 0;
  background-color: #ff7c7c;
  z-index: 2;
} */

/* 실습 요소 쌓임 순서 */
/* 
.container {
  position: relative;
  width: 500px;
  height: 500px;
  border: 2px solid black;
}
.container div {
  width: 100px;
  height: 100px;
  border: 1px solid violet;
}

.item1 {
position: relative;
  z-index: 1;
}

.item2 {
    position: relative;
  top: 30px;
  left: 30px;
  z-index: 2;
}

.item3 {
    position: relative;
  top: 60px;
  left: 60px;
  z-index: 3;
} */

/* 애벌레 만들기 */

/* .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
   */
/* 상위에 이 설정값이 있어서 
   설정이 된거였음!!! */
.circle1 {
  background-color: #9afaff;
  position: relative;
  top: 30px;
  left: 200px;
  z-index: 6;
  position: relative;
}
.circle2 {
  background-color: #1ba7af;
  position: relative;
  left: 250px;
  z-index: 7;
}
.circle3 {
  background-color: #1b3baf;
  position: relative;
  bottom: 20px;
  left: 280px;
  z-index: 8;
}
.circle4 {
  background-color: #111f52;
  position: relative;
  bottom: 70px;
  left: 350px;
  z-index: 9;
}
.circle5 {
  background-color: #050710;
  position: relative;
  bottom: 100px;
  left: 400px;
  z-index: 10;
}
.circle8 {
  background-color: white;
  position: absolute;
  top: 30px;
  left: 20px;
  width: 40px;
  height: 40px;
  z-index: 15;
}

.circle9 {
  background-color: black;
  position: absolute;
  top: 30px;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 20;
}

img {
  position: relative;
  /* bottom: 200px; */
  bottom: 400px;
  /* top: 400px; */
  /* top: -400px; */
  /* 탑으로 조절하면 
bottom값으로 조절하면 위로 끌어올리는거
  400, -400이 적당한 값*/
}

/* 백그라운드 실습 */
.background-image {
  width: 500px;
  height: 800px;
  border: 1px solid black;

  background-image: ur("./img.small.png");

  background-repeat: no-repeat;
  /* background repeat 
repeat가 기본값 : x, y 축으로 반복
repeat-x:x축으로만 반복
repeat-y:y축으로만 반복
no-repeat:반복하지 않음*/

  background-position: center;
  background-image: center top;
  background-color: 100px 100px;
  /* background position은
이미지의 위치를 지정
첫번째로 오는 속성은 x축, 두번째로 오는 속성은 y축
키워드 (top, bottom, left, right, center) / 단위에 함께 쓰는
순서만 잘 기억하면 잘 쓸 수 있음. 
*/

  background-size: 50px;
  background-size: 100px 300px;
  background-size: contain;
  background-size: cover;
  /* contain은 짧은 변과 맞춰줌 길이 여기서는 500px에 */
  /* 단위, contain, cover */

  background-attachment: fixed;
  /* 요소는 내려가는데 배경은 고정
그러나 viewport 기준으로 변경되고
body height가 높아지면 스크롤을 내릴 때 사라질 수도 있음 */
}
