
.fruits:not(span){
    background-color: orange;
}
/* 이게 적용되는 이유는 
.first클래스가 span이 아니면 적용하라의 의미!
div 태그에 fruits 클래스가 있으니까
가장 상위 요소은 fruits에 전체적으로 배경 적용
왜냐, span이 아니니까
해서, 아래와 같이 div를 넣어주면 div이기 때문에 적용이 안 됨*/

.fruits:not(div){
    background-color: pink;
} 



/* 단, 하위 자식 요소에서 선택할 때는 띄어쓰기를 한다. 
그리고 별표가 꼭 붙어야 한다
왜냐, 별표는 하위/자식 모두 선택이란 뜻!*/

.fruits > *:not(span){
    background-color: violet;
}
.fruits *:not(span){
    background-color: purple;
}