* {
  box-sizing: border-box;
  /* font-family: "Nanum Gothic", sans-serif; */
}
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

hr {
  border: 0.1px solid rgb(217, 217, 217);
}

/* 헤더1 */
.firsthead {
  display: flex;
  /* background-color: antiquewhite; */
  justify-content: space-between;
  align-items: center;
}
.mainlo {
  width: 50px;
  margin: 10px 10px 10px 30px;
  padding: 0px;
}
/* .mainlogo {
  background-image: url(./image/pngwing.com.png);
  width: 100px;
  margin: 50px;
  padding: 0px;
} */
/* 왜 백그라운드로 하면 안 되고 태그 안에 img로 넣어야 함..?? */
/* 부모요소에서 전체정렬 */
.leftmenu {
  display: flex;
  /* background-color: aqua; */
}

.menu1 {
  display: flex;
  align-items: center;
}
.menu1 > li {
  /* background-color: yellow; */
  margin-left: 30px;
}
.rightmenu {
  display: flex;
}
.right {
  /* background-color: lightblue; */
  margin-right: 30px;
}

/* .firsthead2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
} */

/* .right {
  background-color: yellowgreen;
  margin-left: 10px;
  
} */

/* 헤더2 */
.secondhead {
  display: flex;
  /* background-color: rgb(143, 92, 30); */
  justify-content: space-around;
  align-items: center;
}
.menu3 {
  display: flex;
  /* justify-content: space-around; */
}
/* 여기에 flex를 줘야 자식 li가 플렉스 */
/* menu3가 아니라 .secondhead에 justify-content를 줘야함 */
.menu3 > li {
  /* background-color: aliceblue; */
  margin-left: 20px;
  color: gray;
}
/* 메인 사진 */
.onearticle {
  display: flex;
  background-repeat: space;
  background-size: cover;
  width: 100vw;
  height: 65vh;
  margin-left: 40px;
}
/* 푸터1 */
.firstfooter {
  display: flex;
  justify-content: space-between;
  /* background-color: aquamarine; */
  width: 100vw;
  height: 50px;
}
.menu4 {
  display: flex;
  align-items: center;
}
.menu4 > li {
  /* background-color: lightcoral; */
  margin-left: 10px;
}
.snsicon {
  display: flex;
  align-items: center;
}
i {
  margin-right: 20px;
}

/* 푸터2 */
.secondfooter {
  display: flex;
  justify-content: space-between;
  /* background-color: aqua; */
  align-items: center;
}
.menu5 {
  display: flex;
}

.menu5 > li {
  /* background-color: orange; */
  margin-left: 10px;
}
.stussy {
  margin-right: 20px;
  font-size: 14px;
}
