* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* 헤더1 */
.firsthead {
  display: flex;
  background-color: antiquewhite;
  justify-content: space-between;
  align-items: center;
}
.mainlo {
  width: 100px;
  margin: 10px;
  padding: 0px;
}
/* .mainlogo {
  background-image: url(./image/pngwing.com.png);
  width: 100px;
  margin: 50px;
  padding: 0px;
} */
/* 왜 백그라운드로 하면 안 되고 태그 안에 img로 넣어야 함..?? */
/* 부모요소에서 전체정렬 */
.leftmenu {
  display: flex;
  /* background-color: aqua; */
}

.menu1 {
  display: flex;
  align-items: center;
}
.menu1 > li {
  background-color: yellow;
  margin-left: 10px;
}
.rightmenu {
  display: flex;
}
.right {
  background-color: lightblue;
  margin-right: 30px;
}
